<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un film</title>
</head>
<body>
<form th:action="@{/note/edit/{id}(id=${noteToEdit.id})}" th:object="${note}" method="POST">
    <p>Titre</p>
    <p>
        <input type="text" th:field="*{title}" />
    </p>
<!--    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>-->

    <p>Body</p>
    <p><textarea rows="4" cols="50" th:field="*{body}" /></p>
<!--    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>-->
    <input type="hidden" name="_method" value="put">
    <button type="submit">Update</button>
</form>

</body>
</html>
