<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note App</title>
</head>
<body>
<H1>DVDStore : LA boutique de DVD en ligne</H1>

<p>
    <a href="/add-note">Ajouter un film</a>
</p>
<table border="1">
    <div th:each="note: ${notes}">
        <tr>
            <td > <a th:href="@{/note/{id}(id=${note.id})}" th:text="${note.title}"></a>  </td>
            <td th:text="${note.body}"></td>
        </tr>
    </div>
</table>

</body>
</html>